@font-face { font-family: GrandSlang; font-weight: regular; src: url('assets/GrandSlang-Roman.woff'); }
@font-face { font-family: GrandSlang-B-Side; font-weight: regular; src: url('assets/GrandSlang-B-Side.woff'); }
@font-face { font-family: GrandSlang-Italic; font-weight: regular; src: url('assets/GrandSlang-Italic.woff'); }

html{
  font-size: 1px;
  height: 100%;
}


/* loading screen */
.loading-container{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  font-family: 'GrandSlang';
  font-size: 24pt;
  color: white;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  animation: flash 2s linear infinite;
  animation-delay: 1s;
}


@keyframes flash {
  0% { color: white; }
  50% { color: #9DB5F3;}
  100% { color: white; }
}

body{
  font-size: 14pt;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  /* height: 100%; */

}

canvas{
  position: absolute;
  height: calc(100% + 1110px);
  Width: 100%;
  top: 0;
  left: 0;
  z-index: -3;
  display: block;
}
h1{

  margin-block-start: 0em;
  font-family: 'GrandSlang-B-Side';
  font-size: 32pt;
  font-weight: regular;
  color: #4C4C4D;
}
h1 em{
font-family: 'GrandSlang-Italic';

}

h2{
  font-size: 18pt;
  font-weight: bold;
}

a{
  text-decoration:none;
  color: black;
}

.interactive{
  font-family: 'Space Grotesk', sans-serif;
}


.button{
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  padding: 10px 20px;
  border-radius: 50px;
  margin-top: 20px;
  -moz-box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08), inset 0 5px 2px 1px #FFFFFF, inset 0 -2px 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow:  0 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08), inset 0 5px 2px 1px #FFFFFF, inset 0 -2px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow:  0 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08), inset 0 5px 2px 1px #FFFFFF, inset 0 -2px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #FAFAFA;
  font-family: 'Space Grotesk', 'Lato', sans-serif;



}

/* navigation */

.nav{
  position: fixed;
  width: 40px;
  right:40px;
  top:40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 3;
}
.nav a{
  display: inline-block;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  -moz-box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08), inset 0 5px 2px 1px #FFFFFF, inset 0 -2px 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow:  0 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08), inset 0 5px 2px 1px #FFFFFF, inset 0 -2px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow:  0 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08), inset 0 5px 2px 1px #FFFFFF, inset 0 -2px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #FAFAFA;

}
.nav a div{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.nav .padding{
  height:15px;
}



/* home page */

.dailydose{
  display:inline-block;
  position: absolute;
  left:50%;
  top:40px;
  clear: black;
  transform: translateX(-50%);
  border-radius:50px;
  padding: 15px 25px;
  font-size: 16pt;
  background: white;
  -moz-box-shadow:    inset 0 2px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow:         inset 0 2px 10px rgba(0, 0, 0, 0.5);

}

.contentContainer{
  margin: auto;
  max-width: 1000px;
  margin-top: 200px;
  margin-bottom: 100px;
  padding-bottom: 200px;
}

.contentContainer > div{
  display: inline-block;
}

/* text formating */
.text{
  width: 700px;
  margin-bottom: 25px;
}
.text a{
  font-weight: bold;
  font-family: 'Space Grotesk', 'Lato', sans-serif;
}
.quote{
  margin-inline-start:50px;
    width: 650px;
    /* margin-top: 10px; */
    margin-bottom: 25px;
}

.imgContainer{
    margin: 100px 0 125px 0;
      width: 800px;
      float: right;
}
.imgContainer img{
}
#pullout{
  width: 750px;
}
#fourdrawings{
  height: 300px;
  float: right;
  -moz-box-shadow:   3px 3px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow:    3px 3px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08);
  box-shadow:  3px 3px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08);
}

/* hoverstates */
.text a:hover{
  font-style:italic;
  text-decoration: underline;
  background-color: #9DB5F3;
}

.interactive:hover{
  -moz-box-shadow:   0 0px 15px 5px #9DB5F3, 0 0 20px 3px #9DB5F3, 0 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08), inset 0 5px 2px 1px #FFFFFF, inset 0 -2px 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow:  0 0px 15px 5px #9DB5F3, 0 0 20px 3px #9DB5F3, 0 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08), inset 0 5px 2px 1px #FFFFFF, inset 0 -2px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow:  0 0px 15px 5px #9DB5F3, 0 0 20px 3px #9DB5F3, 0 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08), inset 0 5px 2px 1px #FFFFFF, inset 0 -2px 3px 1px rgba(0, 0, 0, 0.1);
}

/* media queries */
@media  (max-width:1300px){
    .contentContainer{
      margin-left: 150px;
      margin-right: 150px;
  }
}

@media  (max-width:1125px){
    .contentContainer{
      margin-left: 150px;
      margin-right: 150px;
  }
      .text{
      width: 500px;
    }
      .quote{
      width: 450px;
    }
      .imgContainer{
      width: 600px;
    }
      #pullout{
      width: 550px;
    }

      #fourdrawings{
      height: 250px;
    }
}

@media  (max-width:900px){
    .imgContainer{
      float: none;
  }
      .imgContainer{
      width: 500px;
    }
      #pullout{
      width: 450px;
      margin-bottom: 10px;
    }
    h1{
      font-size: 24pt;
    }
}

@media  (max-width:800px){
      .text{
      width: 450px;
    }
      .quote{
      width: 400px;
    }
      .imgContainer{
      width: 450px;
    }
      #pullout{
      margin-bottom: 25px;
    }
}

@media  (max-width:750px){
    .contentContainer{
      width: 65%;
      margin: auto;
      margin-top: 150px;
  }
      .text{
      width: auto;
    }
      .quote{
      width: auto;
    }
      .imgContainer{
      width: auto;
    }
      #pullout{
      width: 100%;;
    }
}

@media  (max-width:600px){
  body{
    font-size: 12pt;
  }
  h1{
    font-size: 18pt;
  }
}


@media  (max-width:450px){
      .quote{
        margin-inline-start: 15px;
    }
    .contentContainer{
      width: 300px;
      margin: auto;
      margin-top: 150px;
      box-sizing: border-box;
      padding-right: 50px;
    }
      body{
        font-size: 10pt;
      }
      h1{
        font-size: 14pt;
      }
}

@media  (max-width:350px){
  .contentContainer{
    width: 300px;
    margin: auto;
    margin-top: 150px;
    box-sizing: border-box;
    padding-right: 25px;
  }
  .nav{
    right: 25px;
      top: 25px;
  }
  .dailydose{
    top: 25px;
  }
}
